/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%; }
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
	content: "";
  display: table;
  clear: both;
}


body {
  font-family: Open Sans, Arial, Helvetica, Sans-serif;
  color: @beige;
}

.header--menu{
  background: #12A7B9;
  color: #FFF;
  height: 60px;
  width: 100%;
  position: fixed;
}

.header--menu h1{
  float: left;
  color: #fff;
  padding-left: 5px;
  padding: 18px 5px;
  font-size: 18px;
}

.header--menu .links{
  padding: 20px 0px;
}

.header--menu .links a{
  color: #FFF;
  text-decoration: none;
  padding: 15px 2px;
  margin: 5px 0;
  font-size: 12px;
}

.header--bottom{
  margin: 5px 0;
}

.header--bottom button.request-invitation{
  padding: 10px;
  background: #7C7977;
  color: #fff;
  float: right;
  border:1px solid #7C7977;
  border-radius: 5px;
  margin-left: 10px;
}

footer{
  width: auto;
  margin: 5px;
  float: right;
}

footer button{
  padding: 10px 15px;
  background: #7C7977;
  color: #fff;
  border:1px solid #7C7977;
  border-radius: 5px;
  margin-right: 10px;
  outline:none;
}

.video--container{
  padding: 10px;
}

.boxes {
  display:table;
  width: 100%;
  height: 100%;
}

.box {
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}

.box img{
  width: 100%;
  height: auto;
}
.box1 {
  background: @orange;
}

.box2 {
  background: @green;
}

.box3 {
  background: @yellow;
}

.box4 {
  background: @yellow;
}

#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
@media (max-width: 420px) {
    .box {
        display: block;
        width: 90%;
    }
}

/* grid */
[class*="row-"] {
  margin-bottom: 20px;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
}

/* all cols margin */
[class*="col-"] {
  margin-right: 20px;
}
[class*="col-"]:last-child {
  margin-right: 0;
}


.col-1-4 {
  float: left;
  width: 25%;
}

/* 4 span rows */
.row-4 {
  padding-left: 60px;
}
.row-4 [class*="col-"]:first-child {
  margin-left: -60px;
}

/*====== Ignore section below ======*/
@orange: #BD4932;
@yellow: #FFD34E;
@green: #105B63;
@beige: #FFFAD5;
