<div>
  {{videos-table
    videos=model
    category=category}}
  <footer>
    {{#if isPreviousBtnDisabled}}
      <button class="previous-btn"  {{action 'prev'}}>Previous</button>
    {{/if}}
    <button class="next-btn"  {{action 'next'}}>Next</button>
  </footer>
</div>
