<div class="menu" border-style='solid' border-color='#ff0000 #0000ff'>
      {{#link-to 'index'}}
      <h1 class="left">
        <em>Home</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#link-to 'Lifestyle'}}
        Lifestyle
      {{/link-to}}
      {{#link-to 'Fun'}}
        Entertainment
      {{/link-to}}
      {{#link-to 'Fun'}}
        Fun
      {{/link-to}}
      {{#link-to 'Fun'}}
        News
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
