<h1>FunTube</h1>
<br><br><br><br><br><br>

<div class="menu" border-style='' border-color='#ff0000 #0000ff'>
      {{#link-to 'index'}}
      <h1 class="left">
        <em>Home</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#link-to 'Lifestyle'}}
        Lifestyle
      {{/link-to}}
      {{#link-to 'entertainment'}}
        Entertainment
      {{/link-to}}
      {{#link-to 'technology'}}
        Technology
      {{/link-to}}
      {{#link-to 'animal'}}
        Animal
      {{/link-to}}
      {{#link-to 'news'}}
        News
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
