<div>
  {{#each filterVideos as |videos index|}}
    <div class="row-4 clearfix">
      {{#each videos as |video _index|}}
        {{#link-to 'video-detail' video class='col-1-4'}}
          <img src="{{video.thmbnailLink}}" width="90%" height="17%" frameborder = "1">
        {{/link-to}}
      {{/each}}
    </div>
  {{/each}}

  <footer>
    <button class="request-invitation" {{action 'saveInvitation'}}>Request invitation</button>
    <button class="previous-btn"  {{action 'prev'}}>Previous</button>
    <button class="next-btn"  {{action 'next'}}>Next</button>
  </footer>
</div>
